*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    display: grid;
    background-color: #f1ebdf;
    grid-template-rows: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header{
    display: flex;
    height: 90px;
    position: fixed;
    width: auto;
    background-color: white;
    width: 100%;
    z-index: 1;
}

#times{
    display: grid;
    margin-left: 50px;
    font-size: smaller;
    margin-top: 20px;
}

.logo{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 435px;
    height: 80px;
    width: auto;
    margin-top: 10px;
}

#burger_menu{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 500px;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 175px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active {
    transform: translateY(580px);
}

#section_home{
    text-align: center;
    justify-content: center;
}

#section_image{
    height: 600px;
    background-image: url(../img/mr-autthaporn-pradidpong-EZt7OJagHyY-unsplash.jpg);
    background-size: cover;
}

#home_text{
    margin-top: 10px;
    justify-content: center;
    width: 700px;
    margin-left: 300px;
}

#welcome{
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    font-size: 25px;
}

#our_assortment{
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}

.assortment{
    background-size: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    z-index: 0;
}

.assortment:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#bread{
    background-image: url(../img/bread1.jpg);
}

#bun{
    background-image: url(../img/bullar.jpg);
}

#cake{
    background-image: url(../img/cake.jpg);
}

#review_section{
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
}
.note{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
      color: black;
}
  
.reviews{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.review{
    min-width: 300px;
    margin: 20px;
}
  
.head_pic{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
  
.body_review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    width: 300px;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name_review{
    font-size: 1rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}
.place_review{
    color: rgb(164, 8, 8);
    font-style: italic;
}
.rating{
    color: rgb(253, 180, 42);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 39%;
    height: 50px;
    width: 50px;

}
.desc_review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}

  
#footer{
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
    margin: 10px;
}

.footer_col h4{
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}

.footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
}

.footer_col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col ul li a:hover{
    padding-left: 10px;
}

.container{
    border-top: 3px solid black;
    margin-left: 30px;
    margin-right: 30px;
}

/* About us page*/ 


#about_us_intro{
    margin-top: 130px;
    height: 550px;
}

#art_intro{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#art_intro_pic{
    background-image: url(../img/croassaint2.jpg);
}


.bagerian{
    font-size: 40px;
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
    margin-left: 270px;
    margin-right: 270px;
}

.bagerian p{
    font-size: 15px;
}

.about_us_pics{
    height: 350px;
    width: 550px;
    background-size: cover;
}

.picture_text{
    width: 550px;
    height: 350px;
    margin: 30px;
}

.picture_text h3{
    color: rgb(196, 140, 22);
    margin-bottom: 20px;
    font-size: 20px;
}

.info_button{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    background-color: rgb(196, 140, 22);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 160px;
    text-align: center;
}

.button_text{
    margin-top: 4px;
    font-size: 21px;
}

.info_button :hover{
    cursor: pointer;
}

#our_history{
    height: 450px;
}
#art_history{
    display: flex;
    margin-left: 80px;
}
#history_pic{
    background-image: url(../misc/svart-vit\ bageri3.png);
}

#our_vision{
    height: 400px;
}

#art_vision{
    display: flex;
    justify-content: center;
}

#vision_pic{
    background-image: url(../img/baker.jpg);
}

/* Assortment page*/

#assortment_intro{
    justify-content: center;
    margin-top: 100px;
}

.our_assortment_heading{
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
}

.our_assortment_heading h1{
    font-size: 40px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

#assortment_sec_1{
    height: 350px;
    display: flex;
    
}

.assortments{
    justify-content: space-evenly;
    margin: 30px;
}

.assortment_card{
    height: 300px;
    width: 250px;
    background-color: #f1ebdf;
    display: grid;
    box-shadow: 2px 2px 10px black;
    text-align: center;
}

.assortment_image{
    height: 200px;
    width: 100%;
    background-size: cover;
}

.ingredients{
    height: 25px;
    width: 90px;
    margin-left: 80px;
    cursor: pointer;
}

#filter_button{
    margin-top: 20px;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    cursor: pointer;
}

#assortment_1{
    background-image: url(../img/bakgrundsbullar.jpg);
}

#assortment_2{
    background-image: url(../img/croassaint2.jpg);
}

#assortment_3{
    background-image: url(../img/semla.jpg);
}

#assortment_4{
    background-image: url(../img/chockladbulle.jpg);
}

#assortment_sec_2{
    display: flex;
    height: 350px;
}

#assortment_5{
    background-image: url(../img/paj1.jpg);
}

#assortment_6{
    background-image: url(../img/paj5.jpg);
}

#assortment_7{
    background-image: url(../img/paj3.jpg);
}

#assortment_8{
    background-image: url(../img/paj6.jpg);
}

#assortment_sec_3{
    height: 350px;
    display: flex;
}

#assortment_9{
    background-image: url(../img/cake1.jpg);
}

#assortment_10{
    background-image: url(../img/cake2.jpg);
}

#assortment_11{
    background-image: url(../img/cake5.jpg);
}

#assortment_12{
    background-image: url(../img/cake4.jpg);
}

#assortment_sec_4{
    height: 350px;
    display: flex;
}

#assortment_13{
    background-image: url(../img/bread1.jpg);
}

#assortment_14{
    background-image: url(../img/bread2.jpg);
}

#assortment_15{
    background-image: url(../img/bread3.jpg);
}

#assortment_16{
    background-image: url(../img/bread4.jpg);
}

#next_page{
    justify-content: center;
    display: flex;
}

.next_page_btn{
    height: 30px;
    width: 30px;
    border: 0.5px solid black;
    cursor: pointer;
}

#next_page_1{
    background-color: rgb(223, 209, 209);
}

#next_page_2:hover{
    background-color: rgb(223, 209, 209);
}

#next_page_3:hover{
    background-color: rgb(223, 209, 209);
}

/* Contact page*/


#contact_heading{
    justify-content: center;
    margin-top: 100px;
}

.contact_us{
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
}

.contact_us h1{
    font-size: 40px;
    margin-bottom: 10px;
}


.contact_icons{
    height: 40px;
    width: 40px;
}

.contact .icons_container{
    display: flex;
    grid-template-columns: repeat(auto, minmax(29rem, 1fr));
    gap: 1.5rem;
    margin-top: 50px;
    justify-content: center;
}

.contact .icons_container .icons{
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    height: 200px;
    width: 250px;
}

.contact .icons_container .icons h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .icons_container .icons p{
    margin: 20px;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 50px;
    justify-content: center;
}

.contact .row form{
    padding: 2rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

.contact .row form h3{
    font-size: 2.5rem;
    padding: 1rem;
}

.input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .input_box .box,
.contact .row form textarea{
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    color: #222;
    text-transform: none;
    margin: .7rem 0;
    background-color: #f1ebdf;
}

.contact .row form textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}

#send_btn{
    background-color: #d1be97;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

/* Media query*/

@media only screen and (max-width: 390px) {

    /* Landing page media*/

    #grid_wrapper{
        display: grid;
        background-color: #f1ebdf;
        grid-template-rows: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 390px;
    }

    #header{
        height: 70px;
    }

    #times{
        display: grid;
        margin-left: 10px;
        font-size: 10px;
        margin-top: 10px;
    }
    
    .logo{
        margin-left: 77px;
        height: 60px;
        margin-top: 10px;
    }

    .nav_active {
        transform: translateY(570px);
    }
    
    #burger_menu{
        margin-left: 87px;
    }
    
    #nav-links {
        height: 100px;
        width: 130px;
    }
    
    #nav-links a{
        font-size: 10px;
    }

    #nav-links li {
        margin-top: 10px;
    }

    #section_home{
        width: 100%;
    }
    
    #home_text{
        width: 350px;
        margin-left: 20px;
    }
    
    .assortment{
        height: 150px;
        width: 100px;
        font-size: 16px;
    }

    #review_section{
        margin-top: 50px;
    }
    
    .review{
        min-width: 200px;
        margin: 10px;
    }

    .note{
        width: 350px;
        margin-left: 30px;
    }
    
    .head_pic{
        width: 100px;
        height: 100px;
        margin: 1rem auto;
    }
    
    .body_review{
        padding: 1rem;
        width: 250px;
    }
    
    .name_review{
        font-size: 0.8rem;
    }
    
    .location_review{
        font-size: 0.7rem;
    }

    .desc_review{
        color: black;
    }
    
    .note{
        font-size: 0.9rem;
    }

    #footer{
        margin-top: 20px;
        width: 390px;
    }

    /* About us media*/

    #about_us_intro{
        margin-top: 80px;
        height: 700px;
        width: 390px;
    }
    
    #art_intro{
        margin-top: 10px;
        display: grid;
        justify-content: center;
        width: 350px;
        margin-left: 23px;
    }

    #art_intro_pic{
        margin-top: 60px;
    }
    
    .bagerian{
        font-size: 30px;
        justify-content: center;
        text-align: center;
        width: 350px;
        margin-left: 20px;
    }
    
    .bagerian p{
        font-size: 10px;
    }
    
    .about_us_pics{
        height: 250px;
        width: 300px;
        background-size: cover;
        margin: 30px;
    }
    
    .picture_text{
        width: 300px;
        height: 200px;
        margin: 30px;
        margin-top: 10px;
        font-size: smaller;

    }
    
    .info_button{
        height: 35px;
        width: 60px;
        margin-top: 10px;
        text-align: center;
        margin-left: 129px;
    }
    
    .button_text{
        margin-top: 5px;
        font-size: 15px;
    }
    
    #our_history{
        height: 630px;
        width: 300px;
    }

    #art_history{
        display: grid;
        margin-left: 20px;
    }
    
    #our_vision{
        height: 550px;
        width: 300px;
        justify-content: center;
    }
    
    #art_vision{
        display: grid;
        margin-left: 100px;
        margin-top: 50px;
    }

    /*assortment media*/
    
    #assortment_intro{
        width: 390px;
    }

    .our_assortment_heading{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .assortment_card{
        height: 175px;
        width: 150px;
        margin-bottom: 15px;
    }

    .assortment_title{
        font-size: 17px;
    }

    .assortment_price{
        font-size: 13px;
    }
    
    .assortment_image{
        height: 110px;
    }

    #filter_button{
        margin-top: 20px;
        width: 140px;
        height: 40px;
        margin-left: 20px;
    }

    .ingredients{
        display: none;
    }

    #assortment_sec_1{
        height: 400px;
        width: 390px;
        flex-wrap: wrap;
        margin-left: 5px;
    }

    #assortment_sec_2{
        height: 400px;
        width: 390px;
        margin-left: 5px;
        flex-wrap: wrap;
    }

    #assortment_sec_3{
        height: 400px;
        width: 390px;
        margin-left: 5px;
        flex-wrap: wrap;
    }

    #assortment_sec_4{
        height: 400px;
        width: 390px;
        margin-left: 5px;
        flex-wrap: wrap;
    }

    #next_page{
        width: 390px;
        margin-top: 20px;
    }

    /* Contact page media*/

    #contact_heading{
        width: 390px;
    }

    .contact_us{
        font-size: smaller;
    }

    .contact{
        width: 370px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .contact_icons{
        height: 30px;
        width: 30px;
    }
    
    .contact .icons_container{
        display: flex;
        grid-template-columns: repeat(auto, minmax(29rem, 1fr));
        gap: 1.5rem;
        margin-top: 50px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .contact .icons_container .icons{
        padding: 3px;
        height: 150px;
        width: 150px;
    }
    
    .contact .icons_container .icons h3{
        font-size: 15px;
    }
    
    .contact .icons_container .icons p{
        margin: 10px;
    }
    
    .contact .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 50px;
        justify-content: center;
    }
    
    .contact .row form h3{
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .contact .row form .input_box .box,
    .contact .row form textarea{
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    
    .contact .row form textarea{
        width: 100%;
        height: 10rem;
        resize: none;
    }
    
    #send_btn{
        width: 120px;
    }

    .map{
        height: 400px;
        width: 350px;
    }
}

